p {
    line-height: 24px;
    font-size: 16px;
    margin: 0 0 12px;
}

.nbinput .prompt,
.nboutput .prompt {
    display: none;
}

div.nbinput.container div.input_area div.highlight pre,
div.nboutput.container div.output_area div.highlight pre {
    line-height: 1.8;
}

.nboutput .output_area {
    font-weight: bold;
    color: #8a8a8a;
}

div.nbinput.container, div.nboutput.container {
  margin-bottom: 10px;
}


@media (min-width: 960px) {
  .bd-page-width {
    max-width: 99%;
  }
}

.bd-sidebar {
    width: 260px;
}

blockquote {
  padding: 0.8em;
}